 <nav class="navbar">
        <div class="navbar-left">
            <h1><i class="fa-regular fa-hospital"></i> Gestion RV Médicaux</h1>
            <div class="nav-links">
                <ul class="nav-links">
                    <li class="nav-item"><a class="nav-link" routerLink="/dash"><i class="fa-solid fa-house"></i> Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/form-demande-rv"><i class="fa-regular fa-calendar-plus"></i> Demander un RV</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="#"><i class="fa-regular fa-calendar-check"></i> Mes RV</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="#"><i class="fa-regular fa-user-doctor"></i> Médecins</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="#"><i class="fa-regular fa-circle-info"></i> Aide</a></li>
                </ul>
                
            </div>
        </div>
        <button class="patient-btn"><i class="fa-solid fa-user"></i> Patient ▼</button>
    </nav>